.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  border-color: #282533 !important;
}

.el-input-number__decrease:hover,
.el-input-number__increase:hover {
  color: #282533 !important;
}

.el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled),
.el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled) {
  border-color: #282533 !important;
}

.el-dropdown {
  color: currentColor !important;
}

.el-loading-spinner {
  width: unset !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.el-input--small {
  border: none;
}